* {
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Benton;
    src: url("/settings/fonts/BentonSansCompBlackRegular.otf");
}

@font-face {
    font-family: Beba;
    src: url("/settings/fonts/Bebas-Regular.otf");
}

$color-principal: white;
$tipografia-principal: 'Beba';
$color-secundario: black;
$tipografia-secundaria: 'Courier New';
$color-terciario:red;
@mixin flex() {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: auto;
}

.titulo-seccion {
    background-color: $color-secundario;
    color: $color-terciario;
    height: 80px;
    @include flex()
}

.titulo {
    background-color: $color-principal;
    text-align: center;
    align-content: center;
    height: 60px;
    margin-top: 10px;
    @include flex();
    h1 {
        font-family: $tipografia-principal;
        font-size: 50px;
        margin-top: 0px;
        letter-spacing: -2px;
    }
}


.banner {
    width: 100%;
    height: 650px;
    background-image: url(/settings/images/cropped-cropped-marvel.jpeg);}

button {
    font-family: $tipografia-principal;
    color: $color-terciario;
    background-color: $color-principal;
    width: 120px;
    height: 50px;
    font-size: 20px;
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url(/settings/images/cropped-cropped-marvel.jpeg);
    background-size: cover;

}

@mixin tamaños-filtros {
    height: 50px;
    width: 300px;
    font-size: 30px;
    font-family: $tipografia-principal;
}

.navbar {
    @include flex();
    flex-direction: row;
    justify-content: space-around;
    background-color: $color-terciario;
    color: $color-principal;
    padding: 20px;
    label {
        font-size: 30px;
        font-family: $tipografia-principal;
    }
    input,
    select {
        @include tamaños-filtros();
    }

}

.contenedor-tarjetas {
    @include flex();
    flex-wrap: wrap;
}

.tarjetas {
    width: 350px;
    height: 500px;
    color: $color-terciario;
    background-color: $color-principal;
    border: 1px solid $color-secundario;
    margin: 10px 10px;
    background-size: contain;
    .titulo-tarjeta {
        margin-top: -1px;
        font-family: $tipografia-principal;
        text-align: center;
        background-color: whitesmoke;
    }
    .contenedor-imagen {
        width: 100%;
        height: 400px;
        @include flex();
        img {
            width: 100%;
        }
    }
}